* {
  padding: 0;
  margin: 0;
}

body {
  background: #222;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #fff;
}

.container {
  text-align: center;
}

.inputContainer {
    margin: 5% auto;
}

#moneyLabel, #costLabel{
  display: inline-block;
  font-size: 1.25rem;
  margin-top: 50px;
  vertical-align: bottom;
  transition: opacity 0.5s ease;
}

#moneyInput, #costInput {
  display: inline-block;
  border: none;
  border-bottom: solid 1px #fff;
  background: none;
  text-align: center;
  color: #fff;
  font-size: 1.25rem;
  transition: border-color 0.3s ease-in-out, opacity 0.5s ease;
  margin: 0 10px;
}

#moneyInput:focus {
  border-color: lightsalmon;
  outline: none;
}

#moneySubmit, #costSubmit {
  display: inline-block;
  width: 50px;
  background: none;
  border: solid 1px #fff;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  transition: transform 0.5s ease, border-color 0.5s ease, color 0.5s ease;
  outline: none;
}

#costSubmit {
    font-size: 1rem;
    white-space: nowrap;
    width: 150px;
    padding: 5px 0;
    transition: opacity 0.5s ease;
}

#moneySubmit:hover {
  transform: scale(1.02);
  border-color: lightsalmon;
  color: lightsalmon;
}

.change {
  margin: 5% auto;
  padding: 5%;
  text-decoration: underline;
  line-height: 60px;
  text-decoration-color: lightseagreen;
  width: 500px;
}

.answer {
  color: #fff;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

